@import './normalize.scss';
@import './flexgrid.scss';

html {
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #323a40;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
}

.container {
	max-width: 50rem;
}

button, input {
	width: 100%;
	padding: 0.5rem 1rem;
}

button {
	border-color: transparent;
	border-radius: 0.5rem;
	color: #fff;

	&.add-task {
		background-color: #00b94e;
	}

	&.delete-task {
		background-color: #f5001d;
	}
}

.toggle-task {
	word-wrap: break-word;
}
