@import './normalize.scss';
@import './flexgrid.scss';

html {
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #323a40;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
}

.container {
	max-width: 50rem;
}

button, input, textarea {
	width: 100%;
	padding: 0.5rem 1rem;
}

textarea {
	border-top: 1px solid #ccc;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	min-height: 10rem;
}

button {
	border-color: transparent;
	border-radius: 0.5rem;
	color: #fff;

	&.add-task {
		background-color: #00b94e;
	}

	&.delete-task {
		background-color: #f5001d;
	}

	&.edit-task {
		color: #323a40;
	}
}

a {
	color: #aaa;
	text-decoration: none;

	&.active {
		color: #fff;
		text-decoration: underline;
	}
}

.toggle-btn {
	width: 4.4rem;
	height: 4.4rem;
	border-radius: 2.2rem;
	margin: 0 1rem 0.5rem 0;
	color: #aaa;

	&.add {
		background-color: #00b94e;
		color: #fff;

		&:hover {
			background-color: #009940;
		}
	}

	&.remove {
		background-color: #f7001d;
		color: #fff;

		&:hover {
			background-color: #cc0018;
		}
	}
}

.toggle-task {
	word-wrap: break-word;
}

.task-description {
	font-style: italic;
	font-size: 1.4rem;
}

.done-task {
	color: #aaa;
	text-decoration: line-through;
}

.filter-tasks {
	color: #aaa;

	&.active-filter {
		background-color: #00cd58;
		color: #fff;
	}
}